body{
  font-family: "Nunito-Light", Arial, sans-serif;
  background-color: #A6CEE8;
}

footer{
  background-color: #68776D;
}
footer p{
  color: white;
  margin: 0.5rem;
}
.grass-img{
  margin-bottom:-1rem;
}
h2{
  font-family: "Nunito-Regular", Arial, sans-serif;
  color: #227499;
}
h1{
  font-family: "Nunito-SemiBold", Arial, sans-serif;
}

a{
    color: black;
}
p{
  margin:0;
}
textarea{
  max-width:100%;
  margin-bottom:1rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.img-fluid{
  min-width: 200px;
}
.para{
  border: 1px solid #738793;
  border-radius: 25px;
  background-color: white;
  padding: 1.5rem;
  min-width: 16.3rem;
  max-width: 43rem;
  margin-bottom:2rem;
}
.rem-padding{
  padding-bottom: 2rem;
}
.about-img-padding{
  padding: 0.5rem;
}
.navbar{
  background-color: white;
  padding: 0rem 1rem;
  padding-top: 0.3rem;
}
.nav-link:focus, .nav-link:hover {
  color: #A6CEE8;
  border-bottom: 1px solid #A6CEE8;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: #A6CEE8;
}
.container-fluid{
  padding:0;
}

.middle {
  padding: 0 1rem;
}
.cloud-img{
  margin-top:-2rem;
}

.head-link{
  color:#227499;
}

.head-link:hover{
  color:#738793;
  text-decoration: none;
}
.spacing {
  color: #A6CEE8;
  height:125px;
}

.btn-primary {
  color: #fff;
  background-color: #227499;
  border-color: #227499;
}

.btn-primary:hover {
  color: #fff;
  background-color: #A6CEE8;
  border-color: #A6CEE8;
}

@media (max-width:653px){
  h1 {
    font-size:2.3rem;
  }
  h2{
    font-size:1.8rem;
  }
  h3{
    font-size:1.6rem;
  }
}
