body{
  font-family: "Nunito-Regular", Arial, sans-serif;
  background-color: #A6CEE8;
}

footer{
  background-color: #68776D;
}
footer p{
  color: white;
  margin: 0.5rem;
}
.grass-img{
  margin-bottom:-1rem;
}
h2{
  font-family: "Nunito-SemiBold", Arial, sans-serif;
  color: #227499;
}
h1{
  display: inline-block;
  font-family: "Nunito-ExtraBold", Arial, sans-serif;
}
h3{
  margin-top: .5rem;
  font-family: "Nunito-Regular", Arial, sans-serif;
}
a{
    color: black;
}
p{
  padding-top: 0.25rem;
  margin:0;
}

textarea{
  max-width: 100%;
  margin-bottom:1rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  display: inline-block;
}

iframe{
  min-height: 315px;
}
.img-fluid{
  min-width: 200px;
}
.para{
  border: 1px solid #738793;
  border-radius: 25px;
  background-color: white;
  padding: 1.5rem;
  min-width: 16.3rem;
  max-width: 43rem;
  margin-bottom: 1rem;
}
.max-length{
  min-width: 16.3rem;
  max-width: 28rem;
}

.min-length{
  min-width: 15rem;
}
.rem-padding{
  padding-bottom: 2rem;
}
.about-img-padding{
  padding: 0.5rem;
}
.navbar{
  background-color: white;
  padding: 0rem 1rem;
  padding-top: 0.3rem;
}
.nav-link:focus, .nav-link:hover {
  color: #A6CEE8;
  border-bottom: 1px solid #A6CEE8;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: #A6CEE8;
}
.container-fluid{
  padding:0 0.5em;
}

.middle {
  padding: 0 1rem;
}
.cloud-img{
  margin-top:-2rem;
}

.head-link{
  color:#227499;
  transition-duration: 0.3s;
}

.head-link:hover{
  color:#738793;
  text-decoration: none;
}
.spacing {
  color: #A6CEE8;
  height:130px;
}

.spacing-index{
  color: #A6CEE8;
  height: 45px;
}
.spacing-half{
  height: 35px;
}
.btn-primary {
  color: #fff;
  background-color: #227499;
  border-color: #227499;
}

.btn-primary:hover {
  color: #fff;
  background-color: #A6CEE8;
  border-color: #A6CEE8;
}

.card {
  border: 1px solid #738793;
  border-radius: 25px;
  margin-bottom: 2rem


}
.card-img-top{
  border-bottom: 1px solid #738793;
  padding: 1rem;
}

.style-border {
  display:inline-block;
  border-bottom: 4px solid #dde9ff;
  border-left: 4px solid #dde9ff;
  border-right: 4px solid #dde9ff;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 25px;
  padding: 2rem;
  background-color: white;
}
.line{
  border-bottom: 1.4px solid #738793;
  margin-bottom: 1rem;
}

code {
  background-color: #A6CEE8;
  padding: 0.5rem;
  color: #68776D;
}
.form-control{
  display: inline-block;
  width: 70%;

}
/* Color Swatches */
.bg-blue {
  display: inline-flex;
  background-color: #A6CEE8;
  width: 100px;
  height: 100px;
}
.secondary-blue {
  display: inline-flex;
  background-color: #227499;
  width: 100px;
  height: 100px;
}
.border-grey {
  display: inline-flex;
  background-color: #738793;
  width: 100px;
  height: 100px;
}
.footer-color {
  display: inline-flex;
  background-color: #68776D;
  width: 100px;
  height: 100px;
}

.interactive-img {
  opacity: 1;
  transition: .5s ease;
}

.interactive-img:hover{
  opacity: 0.5;
}
.short-p{
  display: inline-block;
  width:60%;
}

@media (max-width:653px){
  h1 {
    font-size:2.3rem;
  }
  h2{
    font-size:1.8rem;
  }
  h3{
    font-size:1.6rem;
  }
}

@media (max-width:320px){
  iframe{
    min-height: 200px;
  }
  .spacing{
    height: 135px;
  }
}
